body{
    margin: 0;

}

.Home{
    background-color: var(--color-green);
    border-bottom-left-radius: 60vh;
}

.home-nav-container{
    display: flex;
    flex-direction: column;
}

.home-primary-nav-container{
    margin-left: 10%;
    margin-right: 10%;
    height: 8vh;
    padding-top: 2%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-nav-left{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-nav-logo a{
    display: flex;
    justify-items: center;
    align-items: center;
}

.home-nav-menu{
    margin-left: 5vh;
}

.home-menu-container a{
    color: white;
    font-weight: 400;
    font-size: 1rem;

    margin-right: 5vh;
}

/* 
nav-right
검색창, 로그인, 회원가입
*/

.home-nav-right{
    display: flex;
    align-items: center;
}

.home-search-container{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 5vh;
}

.home-search-input{
    color: var(--color-black);

    width: 15vw;
    height: 5vh;

    border: white;
    border-radius: 10px 0px 0px 10px;
    outline: none;
    text-indent: 1rem;
}

.home-search-btn{
    background-color: white;
    border-radius: 0px 10px 10px 0px;

    height: 5vh;
    width: 5vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.home-member-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-member-container > *{
    color: white;
    margin-left: 2vh;
}

.home-member-login{
    cursor: pointer;
}


/* 
home-sub-nav-container
서브 네이게이션 바
*/

.home-sub-nav-container{
    margin-left: 10%;
    margin-right: 10%;
}

.home-sub-nav-list > a {
    color: white;
    margin-right: 2vw;
    font-size: 0.8rem;
}

/* 
home-content-container
본문
*/

.home-content-container{
    height: 80vh
}

.login-modal-wrapper{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(11, 19, 30, 0.37);
    z-index: 10;
    backdrop-filter: blur(3px);
}

.login-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
}
