.Login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;

	width: 25vw;
	max-width: 500px;
    padding: 0 20px;

    background-color: #FFF;

	overflow: hidden;
    display: flex;
    flex-direction: column;

    border: 1px solid #ebebeb;
    border-radius: 5px;
}

.login-close{
    margin-top: 15px;
    text-align: right;
    font-size: 15pt;

    cursor: pointer;
}

.contentWrap {
    margin-top: 26px;
    /* flex: 1; */
}

.inputTitle {
    font-size: 0.8rem;
	font-weight: 600;
	color: var(--color-black);
    padding-left: 5px;
}

.inputWrap {
    display: flex;
    border-radius: 8px;
    padding: 16px;
    margin-top: 8px;
    background-color: white;
    border: 1px solid #e2e0e0;
}

.inputWrap:focus-within {
    border: 2px solid var(--color-green);
}

.input {
    width: 100%;
    outline: none;
	border: none;
    height: 17px;
    font-size: 14px;
	font-weight: 400;
}

.input::placeholder {
    color: #dadada;
}

.bottomButton {
    width: 100%;
	height: 48px;
    border: none;
    font-weight: 800;
    font-size: 0.7rem;
    border-radius: 10px;
    background-color: var(--color-green);
    color: var(--color-black);
    margin-top: 30px;
    /* margin-bottom: 16px; */
    cursor: pointer;
}

.bottomButton:disabled {
    background-color: #dadada;
    color: white;
}

.errorMessageWrap {
    margin-top: 8px;
    color: #ef0000;
    font-size: 0.6rem;
    padding-left: 5px;
}

.find{
    padding: 20px 0 20px;
    text-align: center;
    font-size: 0.7rem;
    text-decoration: none;
    color: var(--color-black);
}

.find > li {
    position: relative;
    display: inline-block;
}

.find li+li::before{
    content: '';
    position: absolute;
    top: 3px;
    left: 12px;
    width: 1px;
    height: 12px;
    border-radius: 0.5px;
    background-color: #dadada;
}

.find li+li{
    padding-left: 28px;
}

.social-login{
    /* margin-top: 10px; */
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #dadada;
    padding-top: 18px;
}

.social-login-title{
    margin-bottom: 20px;
    font-size: 0.7rem;
    line-height: 17px;
}

.social-login-btnwrapper{
    display: flex;
    /* margin: auto; */
    column-gap: 30px;
}

.kakao{
    background-color: #fee500;
}

.google{
    background-color: #fff;
}

.google-svg{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.facebook{
    background-color: #4267b2;
}

.naver{
    background-color: #2db400;
}

.social-button{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 6vh;
    height: 6vh;
    border: 0;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #ccc;
}