@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Pretendard-Regular';
    color: #444;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

div{
    display: block;
}

.main-screen{
    width: 1250px;
    height:500px;
    margin: 0 auto;
    background-color: #c7e3c8;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-letter{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 30px;
}

.main1{
    flex-basis: 200px;
    font-weight: 1000;
    font-size: 30pt;
    color: black;
}

.main-img{
    margin-left: 100px;
    margin-right: 100px;
    flex-basis: content;
}

.main2{
    font-size: 18px;
    margin-bottom: 80px;
}

.main3{
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.main3-btn{
    margin-left: 20px;
    height: 40px;
    width: 150px;
    color: white;
    text-align: center;
    background-color: black;
    border-radius: 20px;
    align-self: center;
    font-size: 18px;
    line-height: 40px;
}

