body {
    color: #454545;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}


.logo{
    width: 10%;
    margin-left: 20px;
    margin-right: 20px;
}

#alarm{
    margin-left: 900px;
    width: 30px;
}

.my-page{
    margin-left: 20px;
    margin-right: 20px;
    display: column;
    font-size: 12pt;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 10px
}

.main-screen{
    width: calc(100%-100px);
    height: 600px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    background-color: #c7e3c8;

    display: flex;
    align-items: center;

}

.main-letter{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 30px;
}

.main1{
    flex-basis: 300px;
    font-weight: 900;
    font-size: 36pt;
}

.main-img{
    margin-left: 100px;
    margin-right: 100px;
    flex-basis: content;
}

.main3{
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.main3-btn{
    margin-left: 30px;
    height: 40px;
    width: 180px;
    color: white;
    text-align: center;
    font-weight: 600;
    background-color: black;
    border-radius: 20px;
    align-self: center;
}

